* {-webkit-font-smoothing: antialiased;}



#mainblock {
    background-color: rgb(221, 191, 151);
    text-align: center;
}

.header#main{
    background-color: beige;
    font-size: 40px;
}

.header {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}



.subheader {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.mangaList {
    display: block;
    list-style: none;
    background-color: antiquewhite;
}


.mangaList .mangaInList {
    margin: 30px;
    display: inline-block;
}