* {-webkit-font-smoothing: antialiased;}


body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #003135;
	background: white;
}

h1 {
    margin: 0px;
}

.main-header {
    background-color: black;
    color: white;
}
    .main-header #mainName  {
        font-size: 20px;
        width: 300px;
        font-weight: 300px;
        display: inline-block;
        text-align: center;
        color: wheat;
    }
    .main-header p {
        text-align: center;
        width: min-content;
        width: 300px;
        border: 1px solid black;
    }
    

.icons {
    position: absolute;
    top: 0px;
    background-color: white; 
    width: 120px;
    left: 86.5%;
    border: 1px solid black;
    color:white;
}
    .icons img{
        float: right;
        clear:right;
        text-align: center;
    }

    .icons a {
        color: black;
    }



.title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
    .title#main{
        background-color: black;
        color: wheat;
        font-size: 40px;
    }


.subtitle {
    text-align: center;
    font-size: 20px;
}

.mangaList {
    display: block;
    list-style: none;
}
    .mangaList .mangaInList {
        color: #003135;
        margin: 30px;
        display: inline-block;
    }